Screen {
    background: #05070B;
    color: #00F6FF;
}

#banner {
    height: 9;
    content-align: center middle;
    color: #00F6FF;
    text-style: bold;
}

#byline {
    height: 1;
    content-align: center middle;
    color: #B026FF;
    text-style: bold;
}

#columns {
    height: 1fr;
    margin: 1 2;
}

#left, #right {
    width: 24%;
    padding: 1;
}

#center {
    width: 52%;
    padding: 1 2;
    border: round #00F6FF;
}

#system_panel, #status_panel, #modules, #warning {
    padding: 1;
    margin-bottom: 1;
    border: round #00F6FF;
    background: #080C13;
}

#modules {
    color: #B026FF;
    border: round #B026FF;
}

#warning {
    color: #FF3344;
    border: round #FF3344;
}

.panel_title {
    color: #39FF88;
    text-style: bold;
    margin-bottom: 1;
}

#menu1, #menu2, #menu3 {
    height: 5;
    margin: 1 0;
    padding: 1;
    content-align: center middle;
    border: round #00F6FF;
    color: #00F6FF;
    text-style: bold;
}

#menu2 {
    border: round #B026FF;
    color: #B026FF;
}

#menu3 {
    border: round #FF3344;
    color: #FF3344;
}

#prompt {
    color: #39FF88;
    text-align: center;
    margin-top: 1;
}

#footer {
    height: 1;
    content-align: center middle;
    color: #00F6FF;
}

#detail {
    margin: 2 8;
    padding: 2;
    border: double #00F6FF;
    color: #39FF88;
    background: #080C13;
}

Footer {
    background: #080C13;
    color: #B026FF;
}
